{% extends 'pdapp/layout-no-side.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'pdapp/CSS/faq.css' %}">
    <title>FAQ</title>
    <script src="{% static 'pdapp/JS/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'pdapp/JS/faq.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="faq-section">
        <h1 class="faq-headline">Frequently Asked Questions (FAQ)</h1>
        <!-- TEST ENTRIES -->
        <div class="faq-collapse">
            <a data-bs-toggle="collapse" href="#collapseid5" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="collapse-area">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    <img src="{% static 'pdapp/IMG/down-arrow.svg' %}" alt="" class="dropdown">
                </div>
            </a>
            <div class="collapse mt-2" id="collapseid5">
                <div class="card card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quasi excepturi sint rem natus reiciendis corporis commodi perferendis, magni eum molestiae fugiat tempore sit nesciunt error doloremque quibusdam esse.
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}