{% extends 'pdapp/layout-no-side.html' %}
{% load static %}
{% load has_group %}


{% block head %}
<link rel="stylesheet" href="{% static 'pdapp/CSS/filechart.css' %}" />
<title>{{ datasetfile.name }}</title>
<script src="{% static 'pdapp/JS/axios.min.js' %}"></script>
<script src="{% static 'pdapp/JS/filechart.js' %}"></script>
<script src="{% static 'pdapp/JS/chart.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="headline-block">
        <h1>{{ datasetfile.name }}</h1>
        <p>{{ datasetfile.description }}</p>
    </div>
    <div class="content-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <button class="nav-link tablink" data-page="Chart" data-type="line">Chart</button>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    More
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item tablink" data-type="pie">
                            Pie
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item tablink" data-type="doughnut">
                            Doughnut
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item tablink" data-type="bar">
                            Bar
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item tablink" data-type="polarArea">
                            Polar area
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item tablink" data-type="radar">
                            Radar
                        </button>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <button class="nav-link tablink" data-page="Table">Table</button>
            </li>
            {% if user|has_group:"Editor" %}
                <li class="nav-item">
                    <a href="{% url 'editfile' datasetfile.pk %}" class="nav-link">Edit Dataset file</a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    Save as
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" download-type="csv">
                            Csv
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" download-type="xlsx">
                            Xlsx
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" download-type="plot" target="_blank">
                            Plot(.png)
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div id="Chart" class="tabcontent canvas-container">
            <canvas class="canvas" id="chartfield"></canvas>
        </div>

        <div id="Table" class="tabcontent">
            <table id="df-content"></table>
        </div>
    </div>
{% endblock %}
