{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'pdapp/CSS/layout.css' %}">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'pdapp/JS/layout.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{% static 'pdapp/IMG/logo-no-background.svg' %}" alt="ODMS" id="main-logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled">Disabled</a></li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-danger" id="search-button" type="submit">
                                <div class="search-img-wrap"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="headline-block">
                <div class="headline-content">
                    <div class="headline">
                        <span>Open Data Management System</span>
                    </div>
                    <div class="headline-login">
                        <div class="login">
                            <a href="#" class="btn btn-danger">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="content">
                <div class="sidebar">
                    <div class="logo-details">
                        <span class="logo-name">Datasets</span>
                    </div>
                    <div class="menu">
                        <div class="menu-item">
                            <a href="#" class="sub-button">Eurostat<img class="dropdown" src="{% static 'pdapp/IMG/down-arrow.svg' %}" alt=""></a>
                            <div class="sub-menu">
                                <a href="#" class="sub-item">Sub item 1</a>
                                <a href="#" class="sub-item">Sub item 2</a>
                                <a href="#" class="sub-item">Sub item 3</a>
                            </div>
                        </div>
                        <div class="menu-item">
                            <a href="#" class="sub-button">Statistics Iceland<img class="dropdown" src="{% static 'pdapp/IMG/down-arrow.svg' %}" alt=""></a>
                            <div class="sub-menu">
                                <a href="#" class="sub-item">Sub item 4</a>
                                <a href="#" class="sub-item">Sub item 5</a>
                                <a href="#" class="sub-item">Sub item 6</a>
                            </div>
                        </div>
                        <div class="menu-item">
                            <a href="#" class="sub-button">data.gov.ua<img class="dropdown" src="{% static 'pdapp/IMG/down-arrow.svg' %}" alt=""></a>
                            <div class="sub-menu">
                                <a href="#" class="sub-item">Sub item 7</a>
                                <a href="#" class="sub-item">Sub item 8</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>