{% extends 'pdapp/layout-no-side.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'pdapp/CSS/profile.css' %}">
    <script src="{% static 'pdapp/JS/profile.js' %}"></script>
    <title>Profile</title>
{% endblock %}

{% block content %}
<div class="profile-options">
    <a href="{% url 'suggest' %}" class="btn1 btn-layer" id="suggest">Suggest</a>
    <a href="{% url 'profile' %}" class="btn1 btn-layer" id="profile">Profile</a>
</div>
<div class="profile-body">
    <div class="profile">
        <form action="{% url 'profile' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-floating mg25">
                {{ field }}
                <label for="floatingInput">{{ field.name }}</label>
            </div>
            {% endfor %}
            <div class="save">
                <button type="submit" class="btn1 btn-layer" id="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="popup" id="popup">
    <div class="popup-body">
        <div class="popup-content">
            <img src="{% static 'pdapp/IMG/cross-small.svg' %}" alt="cross" class="popup-close">
            <div class="popup-title">Changing password:</div>
            <div class="popup-text">
                <div class="form-floating with-change">
                    <input type="password" class="form-control" id="floatingPassword pass" placeholder="Password">
                    <label for="floatingPassword">Old password</label>
                </div>
                <div class="form-floating with-change">
                    <input type="password" class="form-control" id="floatingPassword pass" placeholder="Password">
                    <label for="floatingPassword">New password</label>
                </div>
                <div class="form-floating with-change">
                    <input type="password" class="form-control" id="floatingPassword pass" placeholder="Password">
                    <label for="floatingPassword">Confirm password</label>
                </div>
                <div class="save">
                    <button type="submit" class="btn1 btn-layer" id="submit">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}