:root {
    --main-red: #ff5858;
    --nav-background: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-side {
    height: 100%;
    width: 50%;
    background-color: var(--main-red);
}

.right-side {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
}

.form-block {
    width: 400px;
    margin: auto;
}

.auth-logo{ 
    height: 64px;
    width: auto;
}

.auth-headline {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--main-red);
    margin-top: 2rem;
}

.form-block form {
    margin-top: 1.5rem;
}

.links-block {
    text-align: center;
    margin-bottom: 1rem;
}

.links-block p {
    font-size: 12px;
    color: #505050;
}

.links-block a {
    font-size: 12px;
    text-decoration: none;
    color: #4f46e5;
    transition: 0.5s;
}

.links-block a:hover {
    color: var(--main-red);
    transition: 0.5s;
}

#submit {
    height: 50px;
    width: 100%;
}

#form-line {
    margin-top: 30px;
    margin-bottom: 10px;
}