:root {
    --main-red: #ff5858;
}

.headline-block > h1 {
    font-weight: 600;
}

.headline-block > p {
    font-size: 18px;
}

.tabcontent {
    min-width: 1152px;
    max-height: 650px;
    overflow-x: auto;
}

#df-content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#df-content td,
#df-content th {
    border: 1px solid #ddd;
    padding: 8px;
}

#df-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

#df-content tr:hover {
    background-color: #ddd;
}
