:root {
    --main-red: #ff5858;
}

.headline-block > h1 {
    font-weight: 600;
}

.headline-block > p {
    font-size: 18px;
}

.tablink {
    background-color: white;
    float: left;
    border: 1px solid rgb(226, 226, 226);
    border-bottom: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 15px;
    width: 33%;
}
  
.tablink:hover {
    background-color: #777;
}
  
.tabcontent {
    display: none;
    min-width: 1152px;
    overflow-x: auto;
}

#chartfield {
    border: 1px solid rgb(226, 226, 226);
}

#df-content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#df-content td, #df-content th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#df-content tr:nth-child(even){background-color: #f2f2f2;}
  
#df-content tr:hover {background-color: #ddd;}
